<div class="container2">
    <p>Our Order:</p>
</div>
<div class="container">
    <table>
        <thead>
            <tr>
                <th *ngFor="let header of headers">
                    {{ header }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of (data$ | async)">
                <td>
                    {{ "- " + row.productName }} 
                </td>
                <td>
                    {{ row.price + " huf.-"}} 
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container"></div>
<div class="container3">
    <p>{{"All price: "+ (price$ | async) +" huf.-"}}</p>
</div>