.title {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    padding: 10px;
}
body {
    background-image: url('../../../background.jpg');
}

.container {
    display: flex;
    justify-content: center;
}
p{
    min-width: fit-content;
}
