@import "../../../../styles/colors.scss";

:host{
  display: flex;
  justify-content: center;
  padding: 30px;
  min-width: 40%;
  
}
.mat-mdc-table{
  border-collapse: collapse;
  box-shadow: none;
}
tr {
  border: 1pt solid black;
}
.mat-mdc-table .mdc-data-table__header-row {
  height: 56px;
  background: $primary-color;
}
th {
  color: white;
}
.mdc-data-table__header-cell, .mdc-data-table__cell{
  text-align: center;
  border-color: black;
  border-width: 1px;
}
.mdc-data-table__row:nth-child(even){
  background-color: lightgray;
}