.container{
    background-color: white;
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 56px;
    opacity: 85%;

}
th {
    
    border-width: 2px;
    border-color: white;
    border-style: solid;
    background: orange;
    min-width: 198px;

}
td {
    min-width: 198px;
    padding: 5px;
}
tr {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;

}
img{
    width: 190px;
    height: 100px;
}
table{
    margin-top: 5px;
}
